body{
  margin:0;
  font-family: "Open Sans", sans-serif;
  color: #373A3C;
}


/* navbar */
.my-brand{
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}
.my-navbar{
  background-color: #660066;
}
.navbar-sections{
  font-family: "Helvetica Neue", sans-serif;
  font-weight: regular;
}


/* hero-section */
.hero-section{
  background-image: url("../img/bg_hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

#title{
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  color: white;
  font-size: 4rem;
  text-align: center;
  line-height: 2;
}

#name{
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-decoration: overline;
}


/* section "sobre mi" */
h3{
  font-weight: 600;
  line-height: 2;
}
p{
  font-weight: 400;
  line-height: 2
}

.my-line{
  border: solid 1px #373A3C;
  width: 10%;

}

/* seccion Experiencia */

#titulo-experiencia{
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

i{
  color: #660066;
}

.titulos_experiencia{
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

.p_experiencia{
  font-weight: 300;
  font-size: 1.5em;
}

/* seccion últimos trabajos */

.proyects{
  background-color: #660066;
}

.my-line-proyects{
  border: solid 1px white;
  width: 10%;

}

.title_proyects{
  font-family: "Oswald", sans-serif;
  font-weight: 700;

}
